apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ns.yaml
  - default/configmap-properties.yaml
  - default/secret-keycloak-config.yaml
  - default/release.yaml
{% if kong.ee_creds | length > 0 %}
  - default/kongplugin-oidc.yaml
{% endif %}
  - default/service-container-registry.yaml
  - default/ingress.yaml
  - default/ingress-buildtools.yaml
  - default/keycloakclient.yaml
  - default/pvc-deploy.yaml
